.maxParts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .1fr 1fr 1fr;
  grid-template-areas: "maxTitle maxTitle" "maxOne maxTwo" "maxThree maxThree"; }

#maxTitle {
  grid-area: maxTitle; }

#maxOne {
  grid-area: maxOne; }

#maxTwo {
  grid-area: maxTwo; }

#maxThree {
  grid-area: maxThree; }

.modalmask {
  position: fixed;
  font-family: Papyrus, Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.modalmask:target {
  opacity: 1;
  pointer-events: auto; }

.modalbox {
  width: 70%;
  position: relative;
  padding: auto;
  background: #fff;
  border-radius: 10%;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in; }

.movedown {
  margin: 0 auto; }

.rotate {
  margin: 10% auto;
  -webkit-transform: scale(-5, -5);
  transform: scale(-5, -5); }

.resize {
  margin: 10% auto;
  width: 0;
  height: 0; }

.modalmask:target .movedown {
  margin: 10% auto; }

.modalmask:target .rotate {
  transform: rotate(360deg) scale(1, 1);
  -webkit-transform: rotate(360deg) scale(1, 1); }

.modalmask:target .resize {
  width: 70%;
  height: auto; }

.maxTrasnition {
  transition: All 1.2384s ease;
  -webkit-transition: All 1.2384s ease;
  -moz-transition: All 1.2384s ease;
  -o-transition: All 1.2384s ease;
  transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

.maxTrasnition:hover {
  transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px); }

@media only screen and (max-width: 600px) {
  .container {
    background-color: #f1f0f0; }
  button {
    border-style: groove;
    padding: 10px;
    background-color: #f1f0f0;
    margin: auto;
    text-align: center;
    row-gap: 10%;
    border-radius: 5%;
    text-align: wrap text;
    padding: auto; }
    button:hover {
      background-color: #467777;
      transform: scale(1.2, 1.2); }
  .maxParts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr 1fr 1fr;
    grid-template-areas: "maxTitle" "maxOne"  "maxTwo" "maxThree"; }
  #maxTitle {
    grid-area: maxTitle; }
  #maxOne {
    grid-area: maxOne; }
  #maxTwo {
    grid-area: maxTwo; }
  #maxThree {
    grid-area: maxThree; }
  .genNAsal:hover {
    transform: rotate(4deg) scale(1) skew(1deg) translate(-97px);
    -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(-97px);
    -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(-97px);
    -o-transform: rotate(4deg) scale(1) skew(1deg) translate(-97px);
    -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(-97px); } }

body {
  background-color: #dff1f1;
  font-family: Papyrus, Arial, Helvetica, sans-serif;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

header {
  background-color: #c0d8d6;
  width: 70%;
  text-align: center;
  border-style: groove;
  margin: auto; }

h2 {
  background-color: #c0d8d6;
  width: 70%;
  text-align: center;
  border-style: none;
  margin: auto; }

button {
  border-style: groove;
  padding: 10px;
  background-color: #c0d8d6;
  margin: auto;
  text-align: center;
  row-gap: 10%;
  border-radius: 5%;
  text-align: wrap text;
  padding: auto; }
  button:hover {
    background-color: #7aa0f9;
    transform: scale(1.2, 1.2); }

div {
  width: 70%;
  text-align: center;
  margin: auto;
  gap: 30px;
  border-style: none;
  contain: center;
  padding-top: 15px;
  padding-bottom: 15px; }

p {
  margin: auto;
  text-align: center;
  gap: 10px;
  padding-top: 10px;
  transition: 2s; }
  p:hover {
    transform: scale(1.2, 1.2);
    color: #7aa0f9;
    text-align: center; }

footer {
  width: 50%;
  text-align: center;
  margin: auto;
  padding-top: 10px; }

img {
  margin: auto;
  contain: center;
  border-style: groove; }
  img:hover {
    transition: all, 2s;
    border-radius: 10%;
    transform: scale(1.2, 1.2); }

h3 {
  text-align: center;
  padding-top: 20px; }

form {
  margin: auto;
  text-align: center;
  width: 90%;
  padding-top: 10px; }

label {
  margin: auto;
  text-align: center;
  width: 90%;
  padding-top: 20px; }

.comment {
  width: 70%; }

input {
  text-align: center; }

#background {
  background-image: url(https://scontent.fmex15-1.fna.fbcdn.net/v/t39.30808-6/242548647_10158086342591176_1968364485668811018_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeH6Ouh20Qw2jksCkiKKzq9yseWvJ4C_wqex5a8ngL_CpzhmDqj3PPV8l9tNwB3nScQ&_nc_ohc=ykqSyIc5ivYAX_HHcXm&tn=TsaK_0PSXhG2lUZ3&_nc_ht=scontent.fmex15-1.fna&oh=993db54e3db7fa01deaf33a4d71e813b&oe=614E5451);
  background-color: #dff1f1;
  background-size: contain;
  background-repeat: round;
  display: block;
  margin: auto; }

.page {
  text-align: center;
  width: 70%;
  padding: 30px;
  margin: auto; }

.genNAsal {
  transition: All 1s ease;
  -webkit-transition: All 1s ease;
  -moz-transition: All 1s ease;
  -o-transition: All 1s ease;
  transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

.genNAsal:hover {
  transform: rotate(0deg) scale(1) skew(1deg) translate(89px);
  -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(89px);
  -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(89px);
  -o-transform: rotate(0deg) scale(1) skew(1deg) translate(89px);
  -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(89px); }
