.maxParts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .1fr 1fr 1fr;
  grid-template-areas: "maxTitle maxTitle" "maxOne maxTwo" "maxThree maxThree"; }

#maxTitle {
  grid-area: maxTitle; }

#maxOne {
  grid-area: maxOne; }

#maxTwo {
  grid-area: maxTwo; }

#maxThree {
  grid-area: maxThree; }

.gridCraneo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "definicion objetivo" "cranGen gifCraneo"; }

#definicion {
  grid-area: definicion; }

#objetivo {
  grid-area: objetivo; }

#cranGen {
  grid-area: cranGen; }

#gifCraneo {
  grid-area: gifCraneo; }

.modalmask {
  position: fixed;
  font-family: Papyrus, Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.modalmask:target {
  opacity: 1;
  pointer-events: auto; }

.modalbox {
  width: 70%;
  position: relative;
  padding: auto;
  background: #fff;
  border-radius: 10%;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in; }

.movedown {
  margin: 0 auto; }

.rotate {
  margin: 10% auto;
  -webkit-transform: scale(-5, -5);
  transform: scale(-5, -5); }

.resize {
  margin: 10% auto;
  width: 0;
  height: 0; }

.modalmask:target .movedown {
  margin: 10% auto; }

.modalmask:target .rotate {
  transform: rotate(360deg) scale(1, 1);
  -webkit-transform: rotate(360deg) scale(1, 1); }

.modalmask:target .resize {
  width: 70%;
  height: auto; }

.maxTrasnition {
  transition: All 1.2384s ease;
  -webkit-transition: All 1.2384s ease;
  -moz-transition: All 1.2384s ease;
  -o-transition: All 1.2384s ease;
  transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

.maxTrasnition:hover {
  transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px); }

.transPar {
  transition: All 1s ease;
  -webkit-transition: All 1s ease;
  -moz-transition: All 1s ease;
  -o-transition: All 1s ease;
  transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
  -webkit-transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
  -moz-transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
  -o-transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
  -ms-transform: rotate(-4deg) scale(1) skew(1deg) translate(10px); }

.genNAsal {
  transition: All 1s ease;
  -webkit-transition: All 1s ease;
  -moz-transition: All 1s ease;
  -o-transition: All 1s ease;
  transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }

.genNAsal:hover {
  transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }

@media only screen and (max-width: 680px) {
  .container {
    background-color: #f1f0f0; }
  .maxParts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr 1fr 1fr;
    grid-template-areas: "maxTitle" "maxOne"  "maxTwo" "maxThree"; }
  #maxTitle {
    grid-area: maxTitle; }
  #maxOne {
    grid-area: maxOne; }
  #maxTwo {
    grid-area: maxTwo; }
  #maxThree {
    grid-area: maxThree; }
  .gridCraneo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "definicion objetivo" "cranGen cranGen" "gifCraneo gifCraneo"; }
  #definicion {
    grid-area: definicion; }
  #objetivo {
    grid-area: objetivo; }
  #cranGen {
    grid-area: cranGen; }
  #gifCraneo {
    grid-area: gifCraneo; } }

/* Estilo para body y encabezamientos de todas las paginas*/
body {
  background-color: #dff1f1;
  font-family: Arial, Helvetica, sans-serif;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

header {
  background-color: #c0d8d6;
  width: 70%;
  text-align: center;
  border-style: groove;
  margin: auto; }

h2 {
  background-color: #c0d8d6;
  width: 70%;
  text-align: center;
  border-style: none;
  margin: auto; }

button {
  border-style: groove;
  background-color: #c0d8d6;
  margin: auto;
  text-align: center;
  row-gap: 10%;
  border-radius: 5%;
  text-align: wrap text; }
  button:hover {
    background-color: #7aa0f9;
    transform: scale(1.2, 1.2); }

/* Estilos para la barra de navegacion entre paginas*/
.navbar-collapse {
  margin: auto;
  text-align: center;
  border-radius: 50%; }

/* formato para los div */
div {
  width: 70%;
  text-align: center;
  margin: auto;
  border-style: none;
  contain: center; }

/* Formato y hover de los parrafos (<p>)   */
p {
  margin: auto;
  text-align: center;
  gap: 10px;
  padding-top: 10px;
  transition: 2s; }
  p:hover {
    transform: scale(1.2, 1.2);
    color: #7aa0f9;
    text-align: center; }

/*  Formato para los footer*/
footer {
  width: 50%;
  text-align: center;
  margin: auto;
  padding-top: 10px; }

/* Formato de las imagenes*/
img {
  margin: auto;
  contain: center;
  border-style: groove; }
  img:hover {
    transition: all, 2s;
    border-radius: 10%;
    transform: scale(1.2, 1.2); }

/* formato para los h3*/
h3 {
  text-align: center;
  padding-top: 20px; }

form {
  margin: auto;
  text-align: center;
  width: 90%;
  padding-top: 10px; }

label {
  margin: auto;
  text-align: center;
  width: 90%;
  padding-top: 20px; }

.comment {
  width: 70%; }

input {
  text-align: center; }

html {
  margin: 0;
  height: 100%; }

.error {
  margin: 0;
  height: 100%;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0; }

.h1error {
  margin: auto;
  height: 9vmin;
  width: 90vmin;
  display: flex;
  justify-content: center;
  position: relative; }

/*formato de letra 404*/
em {
  font-family: 'Josefin Sans', sans-serif;
  color: currentColor;
  font-size: 15vmin;
  position: relative;
  font-style: normal;
  width: 20vmin;
  text-align: center; }

em.giro {
  -webkit-animation: giro-rotate 7s linear infinite;
  animation: giro-rotate 7s linear infinite;
  position: relative; }

em.giro.left {
  -webkit-transform-origin: 40vmin 5vmin;
  transform-origin: 40vmin 5vmin; }

em.giro.right {
  -webkit-transform-origin: -20vmin 5vmin;
  transform-origin: -20vmin 5vmin; }

@-webkit-keyframes giro-rotate {
  to {
    -webkit-transform: rotate(1turn); } }

@keyframes giro-rotate {
  to {
    transform: rotate(1turn); } }

.slider {
  width: 90%;
  margin: auto;
  overflow: hidden; }

.slider ul {
  display: flex;
  padding: 0;
  width: 200%;
  animation: cambio 20s infinite alternate linear; }

.slider li {
  width: 100%;
  list-style: none; }

.slider img {
  width: 100%; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: 00%; }
  70% {
    margin-left: 00%; }
  75% {
    margin-left: -100%; }
  100% {
    margin-left: -100%; } }

#imgContacto {
  background-image: url(../Assets/craneo-separado.jpeg);
  background-position: center;
  background-size: contain; }

.navbar {
  width: 50%;
  margin: auto; }
