// flexbox maxilar 1era parte
#flexMax{
    display: flex;
    flex-direction: row;
}
// grid para maxilar 2da parte
.maxParts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr;
    grid-template-areas: 
    "maxTitle maxTitle"
    "maxOne maxTwo"
    "maxThree maxThree";
}
#maxTitle{
    grid-area: maxTitle;
}
#maxOne{
    grid-area: maxOne;
}
#maxTwo{
    grid-area: maxTwo;
}
#maxThree{
    grid-area: maxThree;
}
// grid para pagina de Inicio
.gridCraneo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "definicion objetivo"
    "cranGen gifCraneo";
}
#definicion{
    grid-area: definicion;
}
#objetivo{
    grid-area: objetivo;
}
#cranGen{
    grid-area: cranGen;
}
#gifCraneo{
    grid-area: gifCraneo;
}
// Grid para Cigomatico
#gridMalar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "gifMalar rightFront "
    "carrFront carrFront";
}
#gifMalar{
    grid-area: gifMalar;
}
.rightMalar{
    grid-area: rightFront;
}
#carrMalar{
    grid-area: carrFront;
}
// grid hueso Frontal
#gridFront{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "leftFront gifFront"
    "imgFront imgFront";
}
.leftFront{
    grid-area: leftFront;
}
.gifFront{
    grid-area: gifFront;
}
#imgFront{
    grid-area: imgFront;
}
// grid Hueso Mandibular
#gridMand{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "gifMand rightMan"
    "imgMand imgMand";
}
#gifMand{
    grid-area: gifMand;
}
.rightMan{
    grid-area: rightMan;
    padding-top: 20px;
}
#imgMand{
    grid-area: imgMand;
}
// grid Nasal
.boxNasal{
    display: flex;
    flex-direction: row;
    
}
.boxOcc{
    display: flex;
    flex-wrap: row;
}
