// modales de hueso Cigomatico y occipital
.modalmask {
  position: fixed;
  font-family: Papyrus, Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalmask:target {
  opacity:1;
  pointer-events: auto;
}
.modalbox{
  width: 70%;
  position: relative;
  padding: auto;
  background: #fff;
  border-radius:10%;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}
.movedown {
  margin: 0 auto;
}
.rotate {
  margin: 10% auto;
  -webkit-transform: scale(-5,-5);
  transform: scale(-5,-5);
}
.resize {
  margin: 10% auto;
  width:0;
  height:0;
}
.modalmask:target .movedown{       
  margin:10% auto;
}
.modalmask:target .rotate{     
  transform: rotate(360deg) scale(1,1);
      -webkit-transform: rotate(360deg) scale(1,1);
}
.modalmask:target .resize{
  width: 70%;
  height:auto;
}
// Transitiones para imagenes de Maxilar
.maxTrasnition{
  transition:All 1.2384s ease;
  -webkit-transition:All 1.2384s ease;
  -moz-transition:All 1.2384s ease;
  -o-transition:All 1.2384s ease;
  transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  }
  .maxTrasnition:hover{
  transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1.2) skew(1deg) translate(0px);
  }

// transicion para informacion de Parietañl
  .transPar {
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
    -webkit-transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
    -moz-transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
    -o-transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
    -ms-transform: rotate(-4deg) scale(1) skew(1deg) translate(10px);
    }
    .transPar:hover{
    transform: rotate(0deg) scale(1) skew(1deg) translate(-5px);
    -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(-5px);
    -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(-5px);
    -o-transform: rotate(0deg) scale(1) skew(1deg) translate(-5px);
    -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(-5px);
    }
    // transiciones hueso nasal
.genNAsal {
  transition:All 1s ease;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
  transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  }
  .genNAsal:hover{
  transform: rotate(0deg) scale(1) skew(1deg) translate(-0px);
  -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(-0px);
  -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(-0px);
  -o-transform: rotate(0deg) scale(1) skew(1deg) translate(-0px);
  -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(-0px);
  }