
// Responsive para pantallas 320px
@media only screen and (max-width: 680px){
    $Resopnsive320: rgb(241, 240, 240);
    $ResponsiveSecondary:#c0d8d6;
    $Responsivebtn:#7aa0f9;
    $ResponsiveHover:#467777;   
// Color de fondo para pantallas de menos de 680px
.container{
    background-color: $Resopnsive320    
    }
    // grid Responsive para maxilar
.maxParts{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "maxTitle"
    "maxOne" 
    "maxTwo"
    "maxThree";
    }
#maxTitle{
    grid-area: maxTitle;
    }
#maxOne{
    grid-area: maxOne;
    }
#maxTwo{
    grid-area: maxTwo;
    }
#maxThree{
    grid-area: maxThree;
    }
// grid para pagina Craneo
.gridCraneo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "definicion objetivo"
    "cranGen cranGen"
    "gifCraneo gifCraneo";
}
#definicion{
    grid-area: definicion;
}
#objetivo{
    grid-area: objetivo;
}
#cranGen{
    grid-area: cranGen;
}
#gifCraneo{
    grid-area: gifCraneo;
}

}






