
// Responsive para pantallas 320px
@media only screen and (max-width: 680px){
    $Resopnsive320: rgb(241, 240, 240);
    $ResponsiveSecondary:#c0d8d6;
    $Responsivebtn:#7aa0f9;
    $ResponsiveHover:#467777;   

.container{
    background-color: $Resopnsive320    
    }
button{
    border-style: groove;
    padding: 10px;
    background-color: $Resopnsive320;
    margin: auto;
    text-align: center;
    row-gap: 10%;
    border-radius: 10%;
    text-align: wrap text;
    padding: auto;  
        &:hover{
        background-color: $ResponsiveHover; 
        transform: scale(1.2, 1.2);         
        }
    }
    // grid Responsive para maxilar
    .maxParts{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "maxTitle"
        "maxOne" 
        "maxTwo"
        "maxThree";
    }
    #maxTitle{
        grid-area: maxTitle;
    }
    #maxOne{
        grid-area: maxOne;
    }
    #maxTwo{
        grid-area: maxTwo;
    }
    #maxThree{
        grid-area: maxThree;
    }

// Responsive para pagina 404
    #background{
    background-size: contain;
    }    
}




