$Resopnsive320: rgb(241, 240, 240);
$ResponsiveSecondary:#c0d8d6;
$Responsivebtn:#7aa0f9;
$ResponsiveHover:#467777;

// Responsive para pantallas 320px
@media only screen and (max-width: 360px){
    .container{
    background-color: $Resopnsive320
    
    }
}
button{
    border-style: groove;
    padding: 10px;
    background-color: $Responsivebtn;
    margin: auto;
    text-align: center;
    row-gap: 10%;
    border-radius: 5%;
    text-align: wrap text;
    padding: auto;  
        &:hover{
        background-color: $ResponsiveHover; 
        transform: scale(1.2, 1.2);         
        }
    }