// Variables para colores de fondo, botones y hover
$primaryColor:#dff1f1;
$secondaryColor:#c0d8d6;
$btnColor:#467777;
$hoverColor: #7aa0f9;

@import "./gridsOriginal.scss";
@import "./modbuclmix.scss";
@import "./medias.scss";
@import "./responsive.scss";


body{
    background-color: $primaryColor;
    font-family: Papyrus, Arial, Helvetica, sans-serif;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
header{
    background-color: $secondaryColor;
    width: 70%;
    text-align: center;
    border-style: groove;
    margin: auto;
}
h2{
    background-color: $secondaryColor;
    width: 70%;
    text-align: center;
    border-style: none;
    margin: auto;
}
// formato y hover de los botones
button{
    border-style: groove;
    padding: 10px;
    background-color: $secondaryColor;
    margin: auto;
    text-align: center;
    row-gap: 10%;
    border-radius: 5%;
    text-align: wrap text;
    padding: auto;  
        &:hover{
        background-color: $hoverColor; 
        transform: scale(1.2, 1.2);         
        }
    }

// formato para los div
div{
    width:70%;
    text-align: center;
    margin: auto;
    gap: 30px;
    border-style: none;
    contain: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
// Formato y hover de los parrafos (<p>)   
p{
    margin: auto;
    text-align: center;
    gap: 10px;
    padding-top: 10px;
    transition: 2s;
    &:hover{
        transform: scale(1.2, 1.2);
        color: $hoverColor;
        text-align: center;
        }
    }
// Formato para los footer
footer{
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    
}
// Formato de las imagenes
img{
    margin: auto;
    contain: center;
    // width: 100%;
    border-style: groove;
    &:hover{
        transition: all, 2s;
        border-radius: 10%; 
        transform: scale(1.2, 1.2);
    }
}
h3{
    text-align: center;
    padding-top: 20px;
}

// Estilo para la pagina de contacto
form{
    margin: auto;
    text-align: center;
    width: 90%;
    padding-top: 10px;
}
label{
    margin: auto;
    text-align: center;
    width: 90%;
    padding-top: 20px;
}
.comment{
    width: 70%;
}
input{
    text-align: center;
}
// Fondo y Estilo de pagina 404
#background{
    background-image: url(https://scontent.fmex15-1.fna.fbcdn.net/v/t39.30808-6/242548647_10158086342591176_1968364485668811018_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeH6Ouh20Qw2jksCkiKKzq9yseWvJ4C_wqex5a8ngL_CpzhmDqj3PPV8l9tNwB3nScQ&_nc_ohc=ykqSyIc5ivYAX_HHcXm&tn=TsaK_0PSXhG2lUZ3&_nc_ht=scontent.fmex15-1.fna&oh=993db54e3db7fa01deaf33a4d71e813b&oe=614E5451);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    
}
// carrusel para hueso Parietal
.slider {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 200%;
    
    animation: cambio 20s infinite alternate linear;
}
.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
}                                 
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: 00%;}
    70% {margin-left: 00%;}
    
    75% {margin-left: -100%;}
    100% {margin-left: -100%;}
}
// imagen de fondo en la pagina de contacto
#imgContacto{
    background-image: url(../Assets/craneo-separado.jpeg);
    background-position: center;
    background-size: contain;
}

.navbar{
    width: 50%;
    margin: auto;
}